
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* input:focus[type=password] {
  outline: none;
  outline-color: transparent;
} */
input:focus,textarea:focus{
  outline-color: #012B39;
}
div:focus-within{
  outline-color: #012B39;
}

select::after{
  outline-color: red;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  /* background: rgba(1, 48, 64, 0.884); */
  background-color: rgb(240, 240, 240);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #012B39;
  transition: 1s ease-in;
}
::-webkit-scrollbar-thumb:active {
  background: #012B39;
}
::-webkit-scrollbar-track {
  background: #ededed00;
  border: 0px none #ffffff;
  border-radius: 55px;
}
::-webkit-scrollbar-track:hover {
  /* background: #00ffee; */
}
::-webkit-scrollbar-track:active {
  /* background: #333333; */
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*  customLoader */
.customLoader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.customLoader::after,
.customLoader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2.5px solid #000000;
  position: absolute;
  left: 0;
  top: 0;
  animation: animcustomLoader 1.5s linear infinite;
}
.customLoader::after {
  animation-delay: 0.5s;
}

@keyframes animcustomLoader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}

.animate-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.magic-loader{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color:#012B39;
  /* border:3px solid #6060601b; */
}





.speed1{
  animation: circleAnimation 5s ease-in-out infinite alternate ;
}
.speed2{
  animation: circleAnimation 6s ease-in-out infinite;
}
.speed3{
  animation: circleAnimation 7s ease-in-out infinite ;
}
.speed4{
  animation: circleAnimation 8s ease-in-out infinite alternate;
}
.speed5{
  animation: circleAnimation 9s ease-in-out infinite ;
}
.speed6{
  animation: circleAnimation 10s ease-in-out infinite;
}
.speed7{
  animation: circleAnimation 11s ease-in-out infinite alternate;
}
.speed8{
  animation: circleAnimation 12s ease-in-out infinite;
}

@keyframes circleAnimation {
  0% {
    transform: scale(1.2) rotate(0deg);
  }
  50% {
    transform: scale(1.9)  rotate(180deg);
  }
  100% {
    transform: scale(1.2)  rotate(360deg);
  }
}


